/* index.css */

@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;400;700&display=swap');

/* Apply oswald-title-400 style globally */
* {
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* Optional specific styles for different weights */
.oswald-title-200 {
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
}

.oswald-title-400 {
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.oswald-title-700 {
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}
