.seats-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 60px;
  }
  
  .left-section {
    flex: 0 1 70%; /* 70% width for the left section */
  }
  
  .right-section {
    flex: 0 1 30%; /* 30% width for the right section */
    padding-left: 20px;
    margin-top: 185px;
  }
  
  .screen {
    text-align: center;
    font-size: 18px;
    margin-bottom: 30px;
    background-color: #002d6b;
    color: #fff;
    padding: 20px;
    border-radius: 50% / 15%;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 100px;
    margin-top: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    transform: perspective(500px) rotateX(10deg);
  }
  
  .seating-grid {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    gap: 30px;
    justify-content: center;
  }
  
  .row {
    display: flex;
    justify-content: center;
  }
  
  .seat {
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
  }
  
  .seat.available {
    background-color: white;
  }
  
  .seat.booked {
    background-color: grey;
    cursor: not-allowed;
  }
  
  .seat.selected {
    background-color: #033f93;
  }
  
  .seat.empty {
    background-color: transparent;
    border: none;
  }
  
  .details-box {
    background-color: #002d6b;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 100px;
    height: 300px;
    color: white;
  }
  
  .details-box h3 {
    margin-top: 0;
  }
  
  .details-box p {
    font-size: 16px;
    margin: 30px 0;
  }
  
  button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }
